_build/
*.exe
*.byte
*.native
.merlin
*.install
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.a
_codeql_detected_source_root
tests/golden/data/*.csv
tests/golden/expected/*.csv
tests/golden/t_outputs/*.csv
tests/golden/coverage_report.html
tests/golden/coverage.csv
*.bak
